<%
  pieces = @game.pieces.uncaptured
  scale = ("A".."H").to_a
%>
<div class="board" data-current-turn="<%= @game.current_turn_color %>">
  <div class="clearfix" style="margin-left: 22px;">
    <% 8.times do |cell_num| %>
      <div class="grid-label-x"><%= ("A".."H").to_a[cell_num] %></div>
    <% end %>
  </div>

  <% 8.times do |row_num| %>
    <% row_num = 8 - row_num %>
    <div class="board-row clearfix">
      <div class="grid-label-y"><%= row_num %></div>

      <% 8.times do |cell_num| %>
        <%
          cell_pos = "#{scale[cell_num]}#{row_num}"
          cell_piece = pieces.detect { |p| p.position == cell_pos }
        %>
        <div class="board-cell <%= (row_num.even? ? cell_num.even? : cell_num.odd?) ? "wc" : "bc" %>" data-position="<%= cell_pos %>">
          <% if cell_piece.present? %>
            <%= piece(cell_piece) %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
